# Drive

In [1]:
from google.colab import drive
drive.mount('/content/drive', force_remount = True)
PATH = '/content/drive/MyDrive/Curso/Alura/machine-learning-intro-classificacao/data'

Mounted at /content/drive

# Classificação porco

In [2]:
# [é gordinho?, tem perninha curta?, faz auau?]
porco1 = [1, 1, 0]
porco2 = [1, 1, 0]
porco3 = [1, 1, 0]
cachorro4 = [1, 1, 1]
cachorro5 = [0, 1, 1]
cachorro6 = [0, 1, 1]

dados = [porco1, porco2, porco3, cachorro4, cachorro5, cachorro6]

marcacoes = [1, 1, 1, -1, -1, -1]

In [3]:
from sklearn.naive_bayes import MultinomialNB

In [4]:
modelo = MultinomialNB()
modelo.fit(dados, marcacoes)
misterioso1 = [1, 1, 1]
misterioso2 = [1, 0, 0]
misterioso3 = [0, 0, 1]

teste = [misterioso1, misterioso2, misterioso3]
marcacoes_teste = [-1,1,-1]

resultado = modelo.predict(teste)
diferencas = resultado - marcacoes_teste
print(diferencas)

[0 0 0]

In [5]:
acertos = [d for d in diferencas if d == 0]
print(acertos)

[0, 0, 0]

In [6]:
total_de_acertos = len(acertos)
print(total_de_acertos)
total_de_elementos = len(teste)
print(total_de_elementos)

3
3

In [7]:
taxa_de_acerto = round(total_de_acertos / total_de_elementos *100)
print(f'A taxa de acerto é {taxa_de_acerto}%')

A taxa de acerto é 100%

# Acessos

In [8]:
import pandas as pd

acesso = pd.read_csv(f'{PATH}/acesso.csv')
acesso.head()

   acessou_home  acessou_como_funciona  acessou_contato  comprou
0             1                      1                0        0
1             1                      1                0        0
2             1                      1                0        0
3             1                      1                0        0
4             1                      1                0        0

In [9]:
dados = acesso[['acessou_home', 'acessou_como_funciona', 'acessou_contato']]
dados

    acessou_home  acessou_como_funciona  acessou_contato
0              1                      1                0
1              1                      1                0
2              1                      1                0
3              1                      1                0
4              1                      1                0
..           ...                    ...              ...
94             0                      0                1
95             1                      1                1
96             0                      0                1
97             0                      1                0
98             0                      0                0

[99 rows x 3 columns]

In [10]:
marcacoes = acesso[['comprou']]
marcacoes

    comprou
0         0
1         0
2         0
3         0
4         0
..      ...
94        0
95        1
96        0
97        0
98        0

[99 rows x 1 columns]

In [11]:
X = dados.values
Y =  marcacoes.values

In [12]:
from sklearn.naive_bayes import MultinomialNB
import numpy as np

treino_dados = X[:90]
treino_marcacoes = Y[:90]

teste_dados = X[-9:]
teste_marcacoes = Y[-9:]

modelo = MultinomialNB()
modelo.fit(treino_dados, treino_marcacoes)

resultado = modelo.predict(teste_dados).reshape(9,1)
print(resultado)

[[1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]]

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [13]:
diferencas = resultado - teste_marcacoes

acertos = [d for d in diferencas if d == 0]
total_de_acertos = len(acertos)
total_de_elementos = len(teste_dados)

taxa_de_acerto = 100.0 * total_de_acertos / total_de_elementos

print(total_de_acertos)
print(taxa_de_acerto)
print(total_de_elementos)

8
88.88888888888889
9

# Buscas

In [65]:
import pandas as pd

df = pd.read_csv(f'{PATH}/buscas.csv')
df.head()

   home       busca  logado  comprou
0     0  algoritmos       1        1
1     0        java       0        1
2     1  algoritmos       0        1
3     1        ruby       1        0
4     1        ruby       0        1

In [66]:
dados = df[['home', 'busca', 'logado']]
dados.head()

   home       busca  logado
0     0  algoritmos       1
1     0        java       0
2     1  algoritmos       0
3     1        ruby       1
4     1        ruby       0

In [67]:
marcacoes = df[['comprou']]
marcacoes.head()

   comprou
0        1
1        1
2        1
3        0
4        1

In [68]:
X_df = df[['home', 'busca', 'logado']]
Y_df = df['comprou']
Xdummies_df = pd.get_dummies(X_df).astype(int)
Ydummies_df = Y_df

In [69]:
X = Xdummies_df.values
Y = Ydummies_df.values

In [70]:
porcentagem_treino = 0.9

tamanho_de_treino = int(porcentagem_treino * len(Y))
tamanho_de_teste = len(Y) - tamanho_de_treino

treino_dados = X[:tamanho_de_treino]
treino_marcacoes = Y[:tamanho_de_treino]

teste_dados = X[-tamanho_de_teste:]
teste_marcacoes = Y[-tamanho_de_teste:]

In [75]:
from sklearn.naive_bayes import MultinomialNB

modelo = MultinomialNB()
modelo.fit(treino_dados, treino_marcacoes)

resultado = modelo.predict(teste_dados)

diferencas = resultado - teste_marcacoes

acertos = [d for d in diferencas if d == 0]
total_de_acertos = len(acertos)
total_de_elementos = len(teste_dados)

taxa_de_acerto = 100.0 * total_de_acertos / total_de_elementos

print(taxa_de_acerto)
print(total_de_elementos)

82.0
100

In [72]:
acerto_de_um = sum(Y)
acerto_de_zero = len(Y) - acerto_de_um
taxa_de_acerto_base = 100.0 * max(acerto_de_um, acerto_de_zero) / len(Y)
print("Taxa de acerto base: %f" % taxa_de_acerto_base)
print("Taxa de acerto do algoritmo: %f" % taxa_de_acerto)

Taxa de acerto base: 83.200000
Taxa de acerto do algoritmo: 82.000000

In [80]:
def fit_and_predict(modelo, treino_dados, treino_marcacoes, teste_dados, teste_marcacoes):
    modelo.fit(treino_dados, treino_marcacoes)

    resultado = modelo.predict(teste_dados)

    acertos = resultado == teste_marcacoes

    total_de_acertos = sum(acertos)
    total_de_elementos = len(teste_dados)

    taxa_de_acerto = 100.0 * total_de_acertos / total_de_elementos



    acerto_base = max(Counter(teste_marcacoes).values())
    taxa_de_acerto_base = 100.0 * acerto_base / len(teste_marcacoes)

    print("Taxa de acerto do algoritmo: %f" % taxa_de_acerto)
    print("Taxa de acerto base: %f" % taxa_de_acerto_base)

In [81]:
from collections import Counter

X_df = df[['home', 'busca', 'logado']]
Y_df = df['comprou']

Xdummies_df = pd.get_dummies(X_df).astype(int)
Ydummies_df = Y_df

X = Xdummies_df.values
Y = Ydummies_df.values

porcentagem_treino = 0.9

tamanho_de_treino = int(porcentagem_treino * len(Y))
tamanho_de_teste = len(Y) - tamanho_de_treino

treino_dados = X[:tamanho_de_treino]
treino_marcacoes = Y[:tamanho_de_treino]

teste_dados = X[-tamanho_de_teste:]
teste_marcacoes = Y[-tamanho_de_teste:]

modelo = MultinomialNB()
fit_and_predict(modelo,treino_dados, treino_marcacoes,teste_dados,teste_marcacoes)

Taxa de acerto do algoritmo: 82.000000
Taxa de acerto base: 82.000000

In [82]:
from sklearn.naive_bayes import MultinomialNB
modelo = MultinomialNB()
fit_and_predict(modelo, treino_dados, treino_marcacoes, teste_dados, teste_marcacoes)

from sklearn.ensemble import AdaBoostClassifier
modelo = AdaBoostClassifier()
fit_and_predict(modelo, treino_dados, treino_marcacoes, teste_dados, teste_marcacoes)

Taxa de acerto do algoritmo: 82.000000
Taxa de acerto base: 82.000000
Taxa de acerto do algoritmo: 85.000000
Taxa de acerto base: 82.000000